.create-post {
  margin: 15px 0;
}
#profile-info {
  background-color: #fff;
  display: flex;
  border-radius: 5px;
  border: 1px solid #b3b3b3;
  margin-bottom: 15px;
  padding: 15px;
  align-items: center;
}
#profile-info img {
  margin: 20px;
}
.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#profile-info input,
#profile-info button {
  margin: 10px 0;
  height: 30px;
  padding: 5px;
  border: 1px solid #b3b3b3;
  color: #6e6e6e;
  border-radius: 5px;
}
#profile-info button {
  border-radius: 25px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d7ad8;
  color: #000;
}

.creating-post {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.creating-post input {
  width: 80%;
  height: 30px;
  border: none;
  margin: 7px;
  background-color: #f5f3f3;
  border: 1px solid #b3b3b3;
  padding: 10px;
  border-radius: 3px;
}
.creating-post input:hover {
  background-color: #fff;
}
i {
  margin: 5px;
}
.title {
  margin: 0;
}
.search {
  width: 30%;
}
#home {
  background-color: #fff;
}
#home:hover {
  background-color: #f5f3f3;
}
.logout {
  color: #000;
  width: 100px;
  height: 32px;
  padding: 8px;
  border-radius: 15px;
  border: none;
  font-size: 17px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.logout:hover {
  color: #fff;
  background-color: crimson;
}
@media (max-width: 1000px) {
  .logout {
    font-size: 16px;
    width: 130px;
  }
  .search {
    width: 80%;
  }
  #profile-info {
    flex-direction: column;
    align-items: center;
  }
}
